:root {
    --lime-dark: #212121;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif; 
    color: var(--lime-dark);
}

a {
    text-decoration: none;
    color: var(--lime-dark);
    transition: color 0.3s ease;
}

a:hover {
    color: #aeaeae; 
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

main h2 {
    font-size: 2.2rem;
    color: var(--lime-dark);
}